<%content_for :title do%>Pool Standings<%end%>
<h1><%= @pool_name.titleize %> Pool Standings</h1>

<ul id="scoring_list" class="list-group">
  <li class="list-group-item">Click on a player's name to view their bracket.  Click <%= link_to "here", staticpages_scoring_path%> to see how points are awarded. View the <%= link_to "official bracket.", view_master_bracket_path %></li>
  <% @standings.each do |key, value| %>
  	<% n = key.first_name + ' ' + key.last_name %>
    <li class="list-group-item"><%= link_to n, brackets_view_path(key.id) %><span class="badge points_badge"><%= value %> points</span></li>  
  <% end %>
</ul>

