<h1><%=@pool_name.titleize%> Pool Information</h1>
<h3>Maximum pool size: <%= @max_pool_size %></h3>
<h3>Number of players currently signed up: <%= @current_pool_size %></h3>
<br>

<ul class="list-group">

<li class="list-group-item">
<%= form_tag charges_pay_for_increase_path do %>
<%= hidden_field_tag(:charge_amt, "1000") %>
<%= hidden_field_tag(:player_addition, "10") %>
<span class="choose_num_players_text">Add 10 more players...  </span>
<div class="float_right">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="NCAA tourney pool add 10 players"
          data-email=<%= get_email %>
					data-allow-remember-me="false"
          data-name="NCAA Tourney Pool"
          data-label="Pay $10.00"
          data-amount="1000"></script>
</div>
<div class="clear_right">
</div>
<% end %>
</li>

<li class="list-group-item">
<%= form_tag charges_pay_for_increase_path do %>
<%= hidden_field_tag(:charge_amt, "2000") %>
<%= hidden_field_tag(:player_addition, "20") %>
<span class="choose_num_players_text">Add 20 more players...  </span>
<div class="float_right">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="NCAA tourney pool add 20 players"
          data-email=<%= get_email %>
					data-allow-remember-me="false"
          data-name="NCAA Tourney Pool"
          data-label="Pay $20.00"
          data-amount="2000"></script>
</div>
<div class="clear_right">
</div>
<% end %>
</li>

<li class="list-group-item">
<%= form_tag charges_pay_for_increase_path do %>
<%= hidden_field_tag(:charge_amt, "3000") %>
<%= hidden_field_tag(:player_addition, "30") %>
<span class="choose_num_players_text">Add 30 more players...  </span>
<div class="float_right">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="NCAA tourney pool add 30 players"
          data-email=<%= get_email %>
					data-allow-remember-me="false"
          data-name="NCAA Tourney Pool"
          data-label="Pay $30.00"
          data-amount="3000"></script>
</div>
<div class="clear_right">
</div>
<% end %>
</li>


</ul>
