<!DOCTYPE html>
<html>
<head>
  <title>PlayoffPoolz.com - <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">

<%=
		if ( player_signed_in? )
      render "/layouts/navbar_player_logged_in"
    elsif ( admin_signed_in? )
      render "/layouts/navbar_admin_logged_in"
		else
      render "/layouts/navbar_not_logged_in"
    end
%>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>




    <div class="container theme-showcase" role="main">
    	<div class="jumbotron"> 
		  	<%= yield %>
			</div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4><a href="http://ncaa.playoffpoolz.com">NCAA</a></h4>
          <p>This is our most popular tournament.  March Madness. One and done.  No explanation needed!</p>

          <br>

          <h4>MLB</h4>
          <p>The October classic, pick the winner of each playoff series.</p>

        </div>

        <div class="col-lg-6">
          <h4><a href="http://nba.playoffpoolz.com">NBA </a></h4>
          <p>Hoopsters beware, this is a harder bracket to pick than you think.  Pick the winner of each series and crown yourself champion!</p>

          <br>

          <h4>NHL</h4>
          <p>NHL Playoffs in the April and May are the best.  Show your stuff by picking the winner of each series.</p>

        </div>
      </div>
    </div>
		</div>
</body>
   <div id="footer">
      <div class="footer_content float_left text-muted">
        &copy; <%= Time.now.year %> PlayoffPoolz.com all rights reserved.
      </div>
      <div class="footer_content float_right text-muted">
        Contact us at <a href="mailto:support@playoffpoolz.com">support@playoffpoolz.com</a>
      </div>
    </div>

</html>
